<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caudelldevelopment.udacity.capstone.household.household">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".TagsActivity"
            android:label="@string/title_activity_tags">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".FamilyActivity" />



        <receiver android:name=".widget.TasksWidget">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <!--<intent-filter>-->
                <!--<action android:name="household.widget.TasksWidget.PERS_CLICK_TAG"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->

            <!--<intent-filter>-->
                <!--<action android:name="household.widget.TasksWidget.FAM_CLICK_TAG"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->

            <!--<intent-filter>-->
                <!--<action android:name="household.widget.PersonalWidgetRemoteViewsService.PERS_EMPTY_LIST_TAG"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->

            <!--<intent-filter>-->
                <!--<action android:name="household.widget.FamilyWidgetRemoteViewsService.FAM_EMPTY_LIST_TAG"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->

            <intent-filter>
                <action android:name="household.widget.PersonalWidgetRemoteViewsService.PERS_WIDGET_UPDATE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="household.widget.FamilyWidgetRemoteViewsService.FAM_WIDGET_UPDATE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/tasks_widget_info" />

        </receiver>

        <service android:name=".widget.PersonalWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".widget.FamilyWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

    </application>

</manifest>